.services_main{
    width:80%;
    margin: auto;
    color: white;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.services_main::after{
    content: "";
    clear: both;
}

.services_filter{
    float: left;
    width: 25%;
    padding: 25px;
    margin-top: 100px;
    background-color: #006dc7;
    border-radius: 7px;
}

.services_list{
    float: left;
    width: 75%;
    padding: 25px;
}

