.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--black-color, red);
  padding: 50px;
  border-radius: 10px;
  gap: 10px;
  margin: 10px 50px;
}

.flash {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: var(--dark-color, blue);
  padding: 10px;
  gap: 50px;
}

.flash__img {
  border-radius: 10px;
  overflow: hidden;
}

.flash_img img {
  z-index: -1;
}

.flash__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.flash__info__field {
  color: var(--white-color, blue);
  background-color: var(--black-color, red);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.flash__info__field--name {
  font-size: 32px;
  font-weight: 500;
}

.flash__info__field--profession {
  font-size: 22px;
  font-style: italic;
}

.detail {
  border-radius: 10px;
  background-color: var(--dark-color, blue);
  padding: 10px;
  color: var(--white-color, red);
}

.detail h2 {
  margin-bottom: 10px;
}

.input__pair {
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: var(--white-color, blue);
  background-color: var(--black-color, red);
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.input__pair__key {
  background-color: var(--primary-color, blue);
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  width: 265px;
  text-align: right;
}

.input__pair__value {
  padding: 10px;
  font-size: 1.2rem;
}

.error_input {
  color: red;
  outline: 2px red solid;
}

.gallery {
  border-radius: 10px;
  background-color: var(--dark-color, blue);
  padding: 10px;
  color: var(--white-color, red);
}

.gallery h2 {
  margin-bottom: 10px;
}

.gallery__carousel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.gallery__carousel__img img {
  border-radius: 10px;
}

.reviews {
  border-radius: 10px;
  background-color: var(--dark-color, blue);
  padding: 10px;
  color: var(--white-color, red);
}

.reviews h2 {
  margin-bottom: 10px;
}

.userreview {
  background-color: var(--black-color, red);
  border-radius: 10px;
}

.user {
  background-color: var(--primary-color, blue);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.username {
  font-size: 18px;
}

.ratings {
  margin-left: 20px;
}

.review {
  padding: 10px;
  
}

.hidden {
  display: none;
  opacity: 0;
}