.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #dedede;
}

.website {
  font-weight: 500;
}

.copyright {
  font-style: italic;
}