.footer {
  padding: 10px 50px;
  color: var(--white-color, blue);
  background-color: var(--black-color, red);
}

.no_style_link {
  text-decoration: none;
}

.no_style_link:hover,
.no_style_link:focus,
.no_style_link:visited,
.no_style_link:link,
.no_style_link:active {
  background-color: inherit;
  text-decoration: none;
}

.footer__section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 5px;
}

.footer__item {
  color: var(--white-color, blue);
  font-size: 12px;
}

.website {
  text-align: center;
  font-weight: 500;
}

.copyright {
  text-align: center;
  font-style: italic;
}
