.list_main{
    padding: 12px;
    margin: 15px;
}

.list_card{
    background-color: #154968;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 8px;
}

.list_img{
    float: left;
    width:20%;
}

.list_card_column{
    float:left;
    width:40%;
    padding: 20px;
}

.list_data{
    padding: 15px;
}

.list_button{
    background-color: #006dc7;
    padding: 10px;
    float: right;
    font-size: 20px;
}